<div class="popover top">
    <div class="popover-title"> <!-- TODO remove title -->
        No Popover
    </div>
    <div class="arrow"></div>
    <div class="popover-content">
        <p>Please configure the template attribute.</p>
    </div>
</div>
