
input { .box-shadow(none); }

@padding: 10px;

.product-controls {
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  right: 0;
  top: 0;
  z-index: @graph-zIndex;

  @light-bg: #eee;
  @light-active-bg: #ddd;
  @dark-bg: #929292;
  @dark-active-bg: #575757;

  .controls-list {
    display: flex;
    background: @light-bg;
    .box-shadow(0 0 2px rgba(0,0,0,0.3));
    margin-bottom: 0.5em;
    padding: 2px;

    .extensions {
      list-style-type: none;
      display: flex;
      margin: 0;
      padding-right: 0.5em;
      border-right: 1px solid @light-active-bg;

      .controls-option {
        margin-right: 0.25em;

        .button {
          .option-icon {
            width: 20px;
            height: 23px;
            background-size: 60%;
            background-repeat: no-repeat;
            background-position: center;
          }

          span {
            padding-top: 0.1em;
          }

          &.zoom {
            padding: 0 0.5em;
          }
        }

        &.active {
          .arrow {
            display: block;
          }
          .button {
            background-color: @light-active-bg;
          }
        }
      }
    }

  .controls-menu {
    padding: 0 0.25em;

    button {
      position: relative;
      margin: 0;
      background-image: url(../img/glyphicons/glyphicons_157_show_lines@2x.png);
      background-size: 60%;
      background-repeat: no-repeat;
      background-position: center;
      background-color: @light-bg;
      font-size: 0;
      width: 23px;
      height: 23px;
      border: 1px solid transparent;

      &.active {
        background-color: @light-active-bg;
      }
      &:hover {
        background-color: @light-active-bg;
        border: 1px solid #bbb;
      }
    }

    .option-container {
      white-space: nowrap;
      right: @padding;

      input {
        vertical-align: middle;
        margin: 0 0.25em;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          padding: 0.3em 0.5em;
          margin: 0;
          label {
            font-size: inherit;
            margin: 0;
          }
          .group label {
            display: inline;
            input {
              margin-left: 0.5em;
              margin-right: 0.1em;
            }
          }
          .subtitle {
            font-style: italic;
            color: #ccc;
          }
        }
      }
    }
  }

    .option-container {
      position: absolute;
      top: 35px;
      padding: 0.5em;
      padding-bottom: 0.1em;
      box-shadow: 0 5px 10px rgba(0,0,0,0.2);
      border-radius: 0 0 6px 6px;
      padding: 0.5em;
      font-size: 85%;
      background-color: white;
    }

    .button {
      position: relative;
      display: flex;
      height: 23px;
      max-width: 10em;
      padding: 0 0.25em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      background: @light-bg;
      border: 1px solid transparent;
      border-radius: 2px;
      cursor: pointer;
      user-select: none;

      &:hover {
        background: @light-active-bg;
        border: 1px solid #bbb;
      }
    }

    &.active button {
      background: @light-active-bg;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .arrow {
      display: none;
      position: absolute;
      top: 25px;
      height: 0;
      width: 0;
      border: 5px solid transparent;
      border-bottom-color: white;
    }
  }

  .navigation-controls {
    position: absolute;
    top: 40px;
    right: 0;
    margin-right: @padding;
    @size: 50px;
    width: @size;
    opacity: 0.9;

    .panner, button {
        transition: background-color ease-in-out 0.1s;
    }
    .panner.active,
    .panner:hover {
        background-color: @dark-active-bg;
    }

    .zoom {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .zoom:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }
    .panner {
      cursor: move;
      width: @size;
      height: @size;
      position: relative;
      margin-bottom: 0.5em;
      border-radius: @size;
      background: @dark-bg;
      .box-sizing(border-box);

      @base: 4px;
      @height: 14px;
      @moveDelta: 4px;
      @color: white;

      .arrow-top, .arrow-bottom, .arrow-left, .arrow-right {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        top: 50%;
        left: 50%;
      }
      .arrow-top {
        border-width: 0 @base @height @base;
        border-color: transparent transparent @color transparent;
        margin-left: @base * -1;
        margin-top: @height * -2 + @moveDelta;
      }
      .arrow-bottom {
          border-width: @height @base 0px @base;
          border-color: @color transparent transparent transparent;
          margin-left: @base * -1;
          margin-top: @height - @moveDelta;
      }
      .arrow-left {
          border-width: @base @height @base 0;
          border-color: transparent @color transparent;
          margin-left: @height * -2 + @moveDelta;
          margin-top: @base * -1;
      }
      .arrow-right {
          border-width: @base 0px @base @height;
          border-color: transparent transparent transparent @color;
          margin-left: @height - @moveDelta;
          margin-top: @base * -1;
      }
    }
  }

  button {
    width: 100%;
    color: white;
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: 120%;
    font-weight: bold;
    border: 0;
    letter-spacing: 1px;
    line-height: 1.1em;
    margin-bottom: 0.5em;
    background-color: @dark-bg;
    border-radius: 2px;

    &.zoom {
      float: left;
      width: 50%;
    }

    &.active {
      background-color: @dark-active-bg;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:hover {
      background-color: @dark-active-bg;
    }
  }

  .button, button {
    transition: background-color ease-in-out 0.1s;
  }
}

@import "controls/segmented";
@import "controls/colors";
@import "controls/typeahead";
